<div id="app-detail-tab">
  <button class="app-detail-tab-btn selected-tab">順序編集</button>
  <button class="app-detail-tab-btn">公開設定</button>
  <button class="app-detail-tab-btn-wide">エディタを開く</button>
  <button class="app-detail-tab-btn">Push</button>
  <button class="app-detail-tab-btn">Deploy</button>
  <div style="width: 2em"></div>
  <button class="app-detail-tab-btn">GASを開く</button>
  <button class="app-detail-tab-btn-wide" id="app-detail-tab-btn-open-dev">デバッグページを開く</button>
  <button class="app-detail-tab-btn-wide" id="app-detail-tab-btn-open-exec">デプロイページを開く</button>
</div>
<hr style="margin-block-start: 0; margin-block-end: 0;">
<!-- メインの描画用 -->
<div id="app-detail-main">
  <ul class="sortable-ul" id="app-detail-main-ul">
    <li class="bordered-li">
      <div style="display: flex; justify-content: space-between;">
        <div>
          <button class="app-detail-open-close-btn" data-id="app-detail-gas">▶</button>
          <b>GAS</b>
        </div>
        <div class="app-detail-add-btn-div">
          <button class="app-detail-add-btn" onclick="createGasFile();">＋</button>
        </div>
      </div>
      <ul id="app-detail-gas">
      </ul>
    </li>
    <li><div style="height: 1px; background-color: #000; margin-block: 0.5em;" class="app-detail-separate-gas-line"></div></li>
    <li class="bordered-li">
      <div style="display: flex; justify-content: space-between;">
        <div>
          <button class="app-detail-open-close-btn" data-id="app-detail-head">▶</button>
          <b>HEAD</b>
        </div>
        <div class="app-detail-add-btn-div" data-id="app-detail-head">
          <button class="app-detail-add-btn" data-id="app-detail-head">＋</button>
        </div>
      </div>
      <ul id="app-detail-head" class="sortable-ul">
      </ul>
    </li>
    <li><hr></li>
    <li class="bordered-li">
      <div style="display: flex; justify-content: space-between;">
        <div>
          <button class="app-detail-open-close-btn" data-id="app-detail-body">▶</button>
          <b>BODY</b>
        </div>
        <div class="app-detail-add-btn-div" data-id="app-detail-body">
          <button class="app-detail-add-btn" data-id="app-detail-body">＋</button>
        </div>
      </div>
      <ul id="app-detail-body" class="sortable-ul">
      </ul>
    </li>
    <li><div style="height: 1px; background-color: #000; margin-block: 0.5em;" class="app-detail-separate-gas-line"></div></li>
    <li class="bordered-li">
      <b>・未設定</b>
      <ul id="app-detail-did-not-set">
      </ul>
    </li>
  </ul>
</div>
<!-- サブウィンドウのテンプレート -->
<!-- 順序編集で＋ボタンが押されたときに描画されるウィンドウのテンプレート -->
<div id="app-detail-adding-type-selection-format">
  <div>
    <div>
      <button class="app-detail-select-type-btn" data-type="block">ブロックを追加</button>
    </div>
    <div>
      <button class="app-detail-select-type-btn" data-type="file">ファイルを追加</button>
    </div>
    <div>
      <button class="app-detail-select-type-btn" data-type="text">１行コードを追加</button>
    </div>
    <div>
      <button class="app-detail-select-type-btn" data-type="cdn">CDNを追加</button>
    </div>
  </div>
  <div></div>
</div>
<!-- 順序編集でCDNを追加・編集するときに描画されるウィンドウのテンプレート -->
<div id="app-detail-edit-cdn-format" class="app-detail-edit-cdn">
  <form class="app-detail-edit-cdn-save-my-status" style="display: none;">
    <input type="text" name="addId">
    <input type="radio" name="isMultiple" value="true">
    <input type="radio" name="isMultiple" value="false">
  </form>
  <div class="app-detail-edit-cdn-main">
    <p><button onclick="openEditUserCdnElement()">CDNを新規作成</button><button onclick="closeCdnSelectWindow()">中止</button></p>
    <p>&nbsp;</p>
    <hr>
    <form class="app-detail-select-cdn-form">
      <ul></ul>
      <hr>
      <ul></ul>
      <hr>
      <ul></ul>
      <input type="hidden" name="keyPath">
    </form>
    <hr>
    <p><button>このCDNを使う</button></p>
  </div>
  <div class="app-detail-edit-cdn-sub">
    <p>
      <button id="app-detail-edit-cdn-tab-css-js-format" class="app-detail-tab-btn" onclick="selectEditUserCdnElement('css-js')">ノーマル</button>
      　
      <button id="app-detail-edit-cdn-tab-group-format" class="app-detail-tab-btn" onclick="selectEditUserCdnElement('group')">グループ</button>
    </p>
    <hr>
    <form class="app-detail-edit-cdn-form-save-old-data">
      <input type="hidden" name="type">
      <input type="hidden" name="title">
    </form>
    <form class="app-detail-edit-cdn-form-css-js">
      <div>
        <input type="text" name="title" class="do-not-work-enter thin-input" placeholder="CDN Name">
        <input type="text" name="url" class="do-not-work-enter wide-input" placeholder="CDN URL">
      </div>
      <div>
        <label><input type="radio" name="type" value="css">css</label>
        <label><input type="radio" name="type" value="js">js</label>
      </div>
    </form>
    <form class="app-detail-edit-cdn-form-group">
      <div>
        <input type="text" name="main-title" class="do-not-work-enter thin-input">
      </div>
      <hr>
    </form>
    <hr>
    <p><button id="app-detail-edit-cdn-btn-format">編集</button>　<button onclick="closeEditUserCdnElement()">中止</button></p>
  </div>
</div>