<div id="app-detail-tab">
  <button class="app-detail-tab-btn selected-tab">順序編集</button>
  <button class="app-detail-tab-btn">公開設定</button>
  <button class="app-detail-tab-btn">Push</button>
  <button class="app-detail-tab-btn">Deploy</button>
  <div style="width: 2em"></div>
  <button class="app-detail-tab-btn">GASを開く</button>
  <button class="app-detail-tab-btn-wide">デバッグページを開く</button>
  <button class="app-detail-tab-btn-wide">デプロイページを開く</button>
</div>
<hr style="margin-block-start: 0; margin-block-end: 0;">