<h1 align="center">新規作成</h1>

<form style="border-radius: 2em; padding: 5em; margin-top: 10vh; margin-left: 30vw; margin-right: 30vw; border: 1px solid #000;">
  <div>
    <b>アプリ名を入力してください。</b>
    <p align="center"><input type="text" id="create-app-form-name"></p>
  </div>
  <div>
    <b>保存するフォルダの場所を指定してください。</b><br>
    ※　指定したフォルダ内に編集用の「edit」フォルダとアップロード用の「out」フォルダが作成されます。　※
    <p align="center">
      <button type="button" onclick="selectFolder()">フォルダを選択</button>
      <input type="text" id="create-app-form-path">
    </p>
  </div>
  <div>
    <b>オプションを選択してください。</b>
    <p align="center">
      <select id="create-app-form-option"></select>
    </p>
  </div>
  <p align="center"><button type="button" onclick="sendNewAppInfo();">決定</button></p>
</form>