body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.25rem;
}
header {
  width: 100vw;
}
.center-form {
  border-radius: 2em;
  padding: 5em;
  margin-top: 10vh;
  margin-left: 30vw;
  margin-right: 30vw;
  border: 1px solid #000;
}
.main-scroll-x {
  overflow-x: scroll;
}
.main-scroll-y {
  overflow-y: scroll;
}
button {
  border-radius: 0;
  color: #fff;
  background-color: #333;
}
button:hover {
  background-color: #555;
}
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}
.popup-background div {
  background-color: #fff;
  border-radius: 2em;
  padding: 2.5em;
}

/* ストリーム形式でコマンドを出力する機能 */
#command-output-background {
  padding-top: 10vh;
}
.command-output {
  width: 80vw;
  margin: 0 10vw;
  border-radius: 0;
}

/* メニュータブを表示する機能 */
#tab {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.tab-div {
  white-space: nowrap;
  z-index: 99;
  display: inline-block;
}
.tab-div::-webkit-scrollbar {
  border-right: 1px solid #000;
}
#tab-right {
  margin-left: 1em;
}
#tab-right::-webkit-scrollbar {
  border-right: none;
  border-left: 1px solid #000;
}
.tab {
  width: 10em;
  box-sizing: border-box;
}
.selected-tab {
  background-color: #555;
}
.selected-tab:hover {
  background-color: #777;
}

/* アプリ選択関連 */
#app-selector {
  list-style: none;
  padding-inline-start: 10px;
  width: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
}
.app-li {
  width: fit-content;
  height: fit-content;
  margin-bottom: 1px;
  margin-top: 0;
}
.app-li::before {
  content: "↕";
  display:  inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 5px;
  margin-right: 5px;
}
.app-li-sortable:hover::before {
  background-color: #ddd;
}
.app-li-add {
  text-align: center;
}
.app-li-add button {
  width: 10em;
}
.app-li-sortable-btn {
  justify-content: space-between;
}
.app-li-btn:hover {
  background-color: #555;
}
.app-li-btn-name {
  display: inline-block;
  font-weight: 700;
  text-align: left;
  font-size: 1.5em;
}
.app-li-btn-path {
  display: inline-block;
  text-align: left;
}

/* 新規アプリ作成関連 */
#create-app-form-option {
  display: flex;
  overflow-x: scroll;
}
#create-app-form-option div p {
  margin-right: 1em;
}
#create-app-form-option div p span {
  white-space: nowrap;
}
#folder-popup-background {
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 15vw;
  padding-right: 15vw;
}
#folder-popup-background div {
  width: 70vw;
  height: 70vh;
}
#folder-popup-background div div {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#folder-popup-main {
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid #000;
  border-radius: 5px;
}
#folder-popup-background div div ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 1em;
  border-right: 1px solid #000;
}

#folder-popup-background div ul li {
  width: fit-content;
}
#folder-popup-tab {
  width: fit-content;
  height: fit-content;
}
#folder-popup-tab div {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
}
#folder-popup-tab div p {
  display: inline;
}
.select-folder-li-main-button {
  text-align: left;
  border-radius: 0;
  white-space: nowrap;
  padding: 0.3em;
}
.select-folder-li-main-button .select-folder-li-text{
  background-color: rgba(0, 0, 0, 0);
}
.select-folder-li-text {
  display: inline-block;
}
.select-folder-li-main-button .select-folder-li-sub-button{
  background-color: #ccc;
  border-radius: 0;
}
.select-folder-li-sub-button {
  display: inline-block;
  text-align: center;
  color: #000;
}
.select-folder-li-sub-button:hover {
  background-color: #aaa;
}
#folder-popup-background div ul .select-folder-li-file {
  border-radius: 5px;
  border: 1px solid #000;
  padding-left: 0.3em;
}